/******************************************************/
/** GENERAL **/
/******************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/******************************************************/
/** GENERAL REUSABLES COMPONENTS **/
/******************************************************/

.heading__primary,
.heading__secondary,
.heading__tertiary {
  font-weight: 700;
  letter-spacing: -0.15px;
}

.heading__primary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
}

.heading__secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  text-transform: uppercase;
}

.heading__tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.heading__description {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 2rem;
  background-color: #3bc9db;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #3bc9db;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #62d4e2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 9.6rem;
}

.grid--sub {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2-rows {
  grid-template-rows: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--3-cols-sub {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.grid--3-rows {
  grid-template-rows: repeat(3, auto);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
