/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading__primary {
    font-size: 3.6rem;
  }

  .heading__secondary {
    font-size: 3.6rem;
  }

  .header {
    padding: 0 6.4rem;
  }

  .hero {
    padding: 0 4.8rem;
  }

  .container {
    padding: 0 4.8rem;
  }

  .grid {
    column-gap: 3.2rem;
  }

  .grid--sub {
    column-gap: 4.8rem;
  }

  .feature__item {
    gap: 1.2rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .hero {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 3.2rem;
  }

  .heading__primary {
    font-size: 3rem;
    text-align: center;
  }

  .heading__secondary {
    font-size: 3rem;
  }

  .heading__tertiary {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 2.4rem;
  }

  .hero__description {
    margin-bottom: 1.6rem;
  }

  .heading__description {
    margin-bottom: 4.8rem;
  }

  .hero-img {
    width: 60%;
  }

  .section-details .container .grid.grid--2-cols.grid--2-rows {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 4.8rem;
    align-items: center;
    justify-items: center;
    text-align: center;
  }

  .section-details
    .container
    .grid.grid--2-cols.grid--2-rows
    .details--cart:nth-child(2) {
    grid-row: 4/5;
  }

  .heading__secondary.preview__heading {
    margin-bottom: 3.2rem;
  }

  .preview__img__container {
    text-align: center;
  }

  .preview__img {
    width: 40%;
  }

  .screenshots__container .screenshots__carts.grid.grid--5-cols {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .download__container.grid.grid--2-cols {
    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .details__img {
    width: 45%;
  }

  .screenshot__img {
    width: 50%;
  }

  .download__text p {
    font-size: 1.8rem;
  }

  .download__img {
    width: 40%;
  }

  .btn {
    font-size: 1.2rem;
  }

  .statistics__icon {
    width: 5rem;
    height: 5rem;
  }
}

/**************************/
/* BELOW 896px (Tablets) */
/**************************/

@media (max-width: 57em) {
  html {
    font-size: 50%;
  }

  .heading__tertiary {
    margin-bottom: 1.6rem;
  }

  .section-features .grid--sub.grid--3-cols-sub.grid--3-rows {
    grid-template-columns: 1fr;
    justify-items: start;
    align-items: center;
  }

  .feature__item {
    flex-direction: row-reverse;
  }

  .feature__item__img {
    grid-row: auto;
    grid-column: auto;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .feature__img {
    width: 40%;
  }

  .feature__icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main__nav {
    background-color: rgba(59, 91, 219, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .main__nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main__nav__list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main__nav__link:link,
  .main__nav__link:visited {
    font-size: 2.4rem;
  }
}

/**************************/
/* BELOW 592px (Mobile) */
/**************************/
@media (max-width: 37em) {
  html {
    font-size: 43.75%;
  }

  .grid {
    column-gap: 1.2rem;
    row-gap: 2.4rem;
  }

  .grid--5-cols {
    align-items: center;
    justify-items: center;
  }

  .container {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 40%;
  }

  .section-testimonials .container.grid.grid--3-cols {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    gap: 2.4rem;
  }

  .testimonial__container {
    display: flex;
    gap: 1.6rem;
  }

  .statistics__icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  .statistics__element {
    font-size: 1.4rem;
  }

  .statistics__data {
    font-size: 2.4rem;
  }

  .download__text p {
    font-size: 1.6rem;
  }

  .grid__footer {
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
  }

  .footer__col:not(:last-child) {
    align-items: center;
    justify-content: center;
  }
}
