* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/******************************************************/
/** REUSABLES CLASSES **/
/******************************************************/

.heading__primary,
.heading__secondary,
.heading__tertiary {
  font-weight: 700;
  letter-spacing: -0.15px;
}

.heading__primary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  color: #fff;
}

.heading__secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading__tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border-radius: 2rem;
  background-color: #3bc9db;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #3bc9db;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #62d4e2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 9.6rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--3-rows {
  grid-template-rows: repeat(3, 1fr);
}

/******************************************************/
/** HEADER **/
/******************************************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-image: url("../images/header-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.logo__header {
  height: 2.2rem;
}

.main__nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main__nav__link:link,
.main__nav__link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.main__nav__link:hover,
.main__nav__link:active {
  color: #3bc9db;
}

.social__links__header {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.links__container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.social__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.social__link__header:link,
.social__link__header:visited {
  color: #3bc9db;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.social__link__header:hover,
.social__link__header:active {
  color: #fff;
}

/******************************************************/
/** HOME SECTION **/
/******************************************************/

.section-hero {
  background-image: linear-gradient(
      to right bottom,
      rgba(92, 124, 250, 0.5),
      rgba(59, 91, 219, 0.5)
    ),
    url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.heading__primary span {
  color: #3bc9db;
}

.hero__description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #fff;
}

.hero__links__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.btn--hero {
  font-size: 1.6rem;
}

/******************************************************/
/** SECTION TESTIMONIALS **/
/******************************************************/

.section-testimonials {
  padding: 9.6rem 0;
  background-color: #0f0e14;
}

.testimonial__container {
  color: #fff;
}
.testimonial__img {
  width: 6.4rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.2rem auto;
}

.testimonial__text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial__name {
  font-size: 1.4rem;
  font-weight: 600;
}

/******************************************************/
/** SECTION FEATURES **/
/******************************************************/

.section-features {
  padding: 9.6rem 0;
  background-color: #17161d;
  color: #fff;
}

.feature__heading {
  text-align: center;
  margin-bottom: 2.4rem;
}

.feature__description {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.feature__item {
  grid-column: span 2;
  display: flex;
  align-items: center;
}

.feature__col--img {
  grid-column: span 2/3;
  grid-row: span 1/4;
}
