/******************************************************/
/** HEADER **/
/******************************************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-image: url("../images/header-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.logo__header {
  height: 2.2rem;
}

.main__nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main__nav__link:link,
.main__nav__link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.main__nav__link:hover,
.main__nav__link:active {
  color: #3bc9db;
}

.social__links__header {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.links__container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.social__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.social__link__header:link,
.social__link__header:visited {
  color: #3bc9db;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.social__link__header:hover,
.social__link__header:active {
  color: #fff;
}

/******************************************************/
/** HOME SECTION **/
/******************************************************/

.section-hero {
  background-image: linear-gradient(
      to right bottom,
      rgba(92, 124, 250, 0.5),
      rgba(59, 91, 219, 0.5)
    ),
    url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.heading__primary span {
  color: #3bc9db;
}

.hero__description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #fff;
}

.hero__links__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.btn--hero {
  font-size: 1.6rem;
}

/******************************************************/
/** TESTIMONIALS SECTION **/
/******************************************************/

.section-testimonials {
  padding: 9.6rem 0;
  background-color: #0f0e14;
}

.testimonial__container {
  color: #fff;
}
.testimonial__img {
  width: 6.4rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.2rem auto;
}

.testimonial__text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial__name {
  font-size: 1.4rem;
  font-weight: 600;
}

/******************************************************/
/** FEATURES SECTION **/
/******************************************************/

.section-features {
  padding: 9.6rem 0;
  background-color: #17161d;
  color: #fff;
}

.feature__heading {
  text-align: center;
  margin-bottom: 2.4rem;
}

.feature__item {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

.section-features .container .grid--sub .feature__item:nth-child(5),
.section-features .container .grid--sub .feature__item:nth-child(6),
.section-features .container .grid--sub .feature__item:last-child {
  flex-direction: row-reverse;
}

.feature__item__img {
  grid-column: 2/3;
  grid-row: 1 / span 3;
}

.feature__img {
  max-width: 25rem;
}

.section-features .container .grid--sub .feature__item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.section-features .container .grid--sub .feature__item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.feature__icon {
  color: #fff;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #3bc9db;
  width: 3.2rem;
  height: 3.2rem;
}

.feature__description {
  font-size: 1.6rem;
  line-height: 1.7;
}

/******************************************************/
/** PREVIEW SECTION **/
/******************************************************/

.section-preview {
  padding: 9.6rem 0;
  color: #fff;
  background-image: linear-gradient(
      to right bottom,
      rgba(92, 124, 250, 0.5),
      rgba(59, 91, 219, 0.5)
    ),
    url("../images/video-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.preview__heading {
  text-align: center;
  margin-bottom: 3.2rem;
}

.preview__img__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__img {
  max-width: 60%;
}

/******************************************************/
/** DETAILS SECTION **/
/******************************************************/

.section-details {
  padding: 9.6rem 0;
  background-color: #17161d;

  color: #fff;
}

.section-details .container .grid {
  align-items: center;
  justify-items: center;
  margin-bottom: 12.8rem;
}

.details__description {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 1.2rem;
}

.details--cart {
  transition: all 0.4s;
}

.details--cart:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0 0 0.8rem rgba(12, 50, 86, 0.5);
}

.section-details .container .grid.grid--5-cols {
  margin-bottom: 12.8rem;
}

.statistics__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.statistics__icon {
  width: 6rem;
  height: 6rem;
  fill: #3bc9db;
}

.statistics__data,
.statistics__element {
  font-weight: 600;
}
.statistics__data {
  font-size: 3rem;
}

.statistics__element {
  font-size: 1.6rem;
  text-transform: capitalize;
}

.screenshots__container {
  text-align: center;
}

.screenshots__container .heading__secondary {
  border-bottom: 3px solid #3bc9db;
  padding-bottom: 2px;
  display: inline-block;
}

.screenshots__carts.grid.grid--5-cols {
  gap: 4.8rem;
}

.screenshot__img {
  max-width: 100%;
}

/******************************************************/
/** DOWNLOAD SECTION **/
/******************************************************/

.section-download {
  padding: 9.6rem 0;

  background-image: linear-gradient(
      to right bottom,
      rgba(92, 124, 250, 0.5),
      rgba(59, 91, 219, 0.5)
    ),
    url("../images/download-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}

.download__container.grid.grid--2-cols {
  align-items: center;
  justify-items: center;
}

.download__img {
  max-width: 100%;
}

.download__text p {
  font-size: 2.4rem;
  line-height: 1.7;
  font-weight: 500;
  margin-bottom: 1.2rem;
  text-align: center;
}

.btn__download__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.btn.btn--sub:link,
.btn.btn--sub:visited {
  background-color: #051422;
  transition: all 0.3s;
}

.btn.btn--sub:hover,
.btn.btn--sub:active {
  background-color: transparent;
}
