/******************************************************/
/** GENERAL **/
/******************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
}

/******************************************************/
/** REUSABLES CLASSES **/
/******************************************************/

.heading__primary,
.heading__secondary,
.heading__tertiary {
  font-weight: 700;
  letter-spacing: -0.15px;
}

.heading__primary {
  font-size: 4.4rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  color: #fff;
  text-transform: uppercase;
}

.heading__secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  text-transform: uppercase;
}

.heading__tertiary {
  font-size: 2.4rem;
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

.heading__description {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 1.6rem 3.2rem;
  border-radius: 2rem;
  background-color: #3bc9db;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  color: #3bc9db;
  background-color: transparent;
  box-shadow: inset 0 0 0 3px #62d4e2;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 9.6rem;
}

.grid--sub {
  display: grid;
  row-gap: 6.4rem;
  column-gap: 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--2-rows {
  grid-template-rows: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--3-cols-sub {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.grid--3-rows {
  grid-template-rows: repeat(3, auto);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

/******************************************************/
/** HEADER **/
/******************************************************/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-image: url("../images/header-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

.logo__header {
  height: 2.2rem;
}

.main__nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main__nav__link:link,
.main__nav__link:visited {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.main__nav__link:hover,
.main__nav__link:active {
  color: #3bc9db;
}

.social__links__header {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.links__container {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.social__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.social__link__header:link,
.social__link__header:visited {
  color: #3bc9db;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.social__link__header:hover,
.social__link__header:active {
  color: #fff;
}

/******************************************************/
/** HOME SECTION **/
/******************************************************/

.section-hero {
  background-image: linear-gradient(
      to right bottom,
      rgba(92, 124, 250, 0.5),
      rgba(59, 91, 219, 0.5)
    ),
    url("../images/header-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}

.heading__primary span {
  color: #3bc9db;
}

.hero__description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
  color: #fff;
}

.hero__links__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.btn--hero {
  font-size: 1.6rem;
}

/******************************************************/
/** TESTIMONIALS SECTION **/
/******************************************************/

.section-testimonials {
  padding: 9.6rem 0;
  background-color: #0f0e14;
}

.testimonial__container {
  color: #fff;
}
.testimonial__img {
  width: 6.4rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1.2rem auto;
}

.testimonial__text {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial__name {
  font-size: 1.4rem;
  font-weight: 600;
}

/******************************************************/
/** FEATURES SECTION **/
/******************************************************/

.section-features {
  padding: 9.6rem 0;
  background-color: #17161d;
  color: #fff;
}

.feature__heading {
  text-align: center;
  margin-bottom: 2.4rem;
}

.feature__item {
  display: flex;
  align-items: flex-start;
  gap: 2.4rem;
}

.section-features .container .grid--sub .feature__item:nth-child(5),
.section-features .container .grid--sub .feature__item:nth-child(6),
.section-features .container .grid--sub .feature__item:last-child {
  flex-direction: row-reverse;
}

.feature__item__img {
  grid-column: 2/3;
  grid-row: 1 / span 3;
}

.feature__img {
  max-width: 25rem;
}

.section-features .container .grid--sub .feature__item:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.section-features .container .grid--sub .feature__item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.feature__icon {
  color: #fff;
  padding: 1.6rem;
  border-radius: 50%;
  background-color: #3bc9db;
  width: 3.2rem;
  height: 3.2rem;
}

.feature__description {
  font-size: 1.6rem;
  line-height: 1.7;
}

/******************************************************/
/** PREVIEW SECTION **/
/******************************************************/

.section-preview {
  padding: 9.6rem 0;
  color: #fff;
  background-image: linear-gradient(
      to right bottom,
      rgba(92, 124, 250, 0.5),
      rgba(59, 91, 219, 0.5)
    ),
    url("../images/video-background.jpg");
}

.preview__heading {
  text-align: center;
  margin-bottom: 3.2rem;
}

.preview__img__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview__img {
  max-width: 60%;
}

/******************************************************/
/** DETAILS SECTION **/
/******************************************************/

.section-details {
  padding: 9.6rem 0;
  background-color: #17161d;

  color: #fff;
}

.section-details .container .grid {
  align-items: center;
  justify-items: center;
  margin-bottom: 12.8rem;
}

.details__description {
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 1.2rem;
}

.btn--details {
  font-size: 1.6rem;
}

.details--cart {
  transition: all 0.4s;
}

.details--cart:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0 0 0.8rem rgba(12, 50, 86, 0.5);
}

.statistics__col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.statistics__icon {
  width: 6rem;
  height: 6rem;
  fill: #3bc9db;
}

.statistics__data,
.statistics__element {
  font-weight: 600;
}
.statistics__data {
  font-size: 3rem;
}

.statistics__element {
  font-size: 1.6rem;
  text-transform: capitalize;
}
